header a{
    float: right;
    font-size: 20px;
    margin: 9px 0px;
    cursor: pointer;
    color: white;
}

/*SECCIÓN BANNER*/
#banner {
    margin-top: 50px;
    position: relative;
}

#banner img {
    width: 100%;
    height: 100%;
}

@media (min-width:768px){
    #banner{
        height: 300px;
        overflow: hidden;
    }

    #banner img{
        height: auto;
        margin-top: -10px;
    }
}

@media (min-width:1024px){
    #banner img{

        margin-top: -50px;
    }
}

/*SECCIÓN BLOG*/
#blog h3, p{
    text-align: center;
}

#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article{
    margin: 25px;
}

#blog img{
    width: 100%;
    max-width: 280px;
    height: 100%;
    max-height: 200px;
}
